---
layout: layout
title: Blog
---
<div class="container">
		<div class="row">
		{% for post in site.posts %}
			<div class="container-fluid">	
					{% assign remainder =  post.num | modulo: 3  %}
						<div class="col-sm-4 col-md-4">
							{% if remainder == 0 %}
							<div class="panel panel-info">
								<div class="panel-heading" style="font-size: 20px; text-align: center"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
								<div class="well well-sm" style="font-size: 16px; text-align: justify"><a href="{{ site.baseurl }}{{ post.url }}"></a>{{ post.excerpt }}
								<a href="#" class="btn btn-primary" style="color: antiquewhite">Load More</a></div>
							</div>
						</div>  
						<div class="col-sm-4 col-md-4">
							{% elsif remainder == 2 %}
							<div class="panel panel-info">
								<div class="panel-heading" style="font-size: 20px; text-align: center"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
								<div class="well well-sm" style="font-size: 16px; text-align: justify"><a href="{{ site.baseurl }}{{ post.url }}"></a>{{ post.excerpt }}</div>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							{% else %}
							<div class="panel panel-info">
								<div class="panel-heading" style="font-size: 20px; text-align: center"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
								<div class="well well-sm" style="font-size: 16px; text-align: justify"><a href="{{ site.baseurl }}{{ post.url }}"></a>{{ post.excerpt }}</div>
							</div>
						</div>
						{% endif %}
			</div>
	  {% endfor %}
		</div>
</div>
