<section>
    <h6 class="h6_sty">Achievements</h6>
    <article>
       <p>
           <b>Scholastic</b><br/>
           <ul style="list-style-type: circle; text-align: justify; font-size: 90%">
               <li><a href="https://www.coursera.org/account/accomplishments/records/5MDZ55M6RB33" target="_blank">
                Machine Learning by Stanford university on Coursera.</a></li>
               <li><a href="https://drive.google.com/open?id=0BwdflQny2AohVFh4SmdPX2k4LUk" target="_blank">
                NPTEL online Elite certification for successful completion the course "Applied Multivariate Statistical 
                   Modelling" from IIT Kharagpur and I was one of the toppers.</a></li>
               <li>NPTEL online certification for successful completion of the course "Design and Optimization of Energy
                   Systems" from IIT Madras.</li>
               <li>EAMCET Merit Scholarship: Got full tution fee paid by Andhra Pradesh state governament for all the four
                   years of B.Tech.</li>
               <li>Runner-up in "Death Race 2.0" at NIT-Rourkela (ISM-2K15).</li>
               <li>Selected for 2<sup>nd</sup> level and one of the top 15 teams in "ENGINX" competition conducted by TCS.</li>
               <li>Presented paper on "REGISTRY EDITOR" at K L University (SAMYAK-2K15).</li>
               <li>Participated in the event "ROBO RODENTIA" at Vignan University (MAHOTSAV-2015).</li>
               <li>Presented paper on "CRYOGENICS" organized by Industry-Institute Partnership cell on the ocassion of 
                   47<sup>th</sup> Engineer's day.
               </li>
               <li>Presented paper on "3D-PRINTING" at K L University (SAMYAK-2K14).</li>                         
           </ul>

        <b>Non-Scholastic</b><br/>
        <ul style="list-style-type: circle; text-align: justify; font-size: 90%">
            <li>Received NCC "A" certificate, 17(A) BN NCC, Vijayawda.</li>
        </ul>
       </p>
    </article>
</section>