<Section>
    <h6 class="h6_sty">Education</h6>
    <article>
        <header>
            <h5 style="text-align:left">R.V.R & J.C College of Engineering<span style="float: right">Guntur, India</span></h5>
            <h3><i>Bachelor of Technology in Mechanical Engineering, CGPA - 9.24</i><span style="float: right"><i>2012 - 2016</i></span></h3>
                 
            <h5 style="text-align:left">Sri Chaitanya Junior College<span style="float: right">Vijayawada, India</span></h5>
            <h3><i>Intermediate, 96.3%</i><span style="float: right"><i>2010 - 2012</i></span></h3>
                 
            <h5 style="text-align:left">Little Angles High School<span style="float: right">Jaggayyapet, India</span></h5>
            <h3><i>10<sup>th</sup> Standard, 88.5%</i><span style="float: right"><i>2010</i></span></h3>
        </header>
    </article>
</Section>
