<section>
    <h6 class="h6_sty">Position of Responsibility</h6>
    <article>
       <p>
           <ul style="list-style-type: circle; text-align: justify; font-size: 90%">
               <li>Rootic event organizer in the Natonal level Technical fest MECHMANTRA 2K15.</li>
               <li>Coordinator for the National level Technical fest MECHMANTRA 2K16.</a></li>
               <li>Started robotc club named R'BOT in our college and acted as president for one year.</li>                         
           </ul>
       </p>
    </article>
</section>