<section>
    <h6 class="h6_sty">Publications</h6>
    <article>
        <ol reversed>
            <li>
                <p style="text-align: justify;font-size: 83%">
                    <strong>Suneel, D</strong>., Srinivasarao, G (2016). 
                    <a href="https://www.researchgate.net/publication/313010380_Optimization_of_Multiresponses_using_Grey_Relational_Analysis_and_Topsis" target="_blank">
                    Optimization of Multi-Responses using Grey Relational Analysis and TOPSIS.
                    </a> 
                    <em>
                        6<sup>th</sup> International & 27<sup>th</sup> All India Manufacturing Technology, Design and Research Conference (AIMTDR-2016),
                    </em>
                    pp. 1733-1737.
                </p>
            </li>
            <li>
                <p style="text-align: justify;font-size: 83%">
                    Srinivasarao, G., <strong>Suneel, D</strong>., Manikanta, K.G.S.V., & Praveen, D (2016). 
                    <a href="https://discoveryjournals.com/discovery/current_issue/v52/n246/index.htm" target="_blank">
                    Mathematical modelling of surface roughness in hard turning for evaluating the effect of process and tool
                    parameters.
                    </a> 
                    <em>
                        Discovery, 
                    </em>
                    Vol.52 (246), pp.1366-1373.
                </p>
            </li>
            <li>
                <p style="text-align: justify;font-size: 83%">
                    Srinivasarao, G., SanthiPriya, P., <strong>Suneel, D</strong> (2016). 
                    <a href="https://www.ijert.org/view-pdf/15233/modelling-of-surface-roughness-for-aisi-52100-steel-in-wedm-by-design-of-experiments" target="_blank">
                    Modelling of Surface Roughness for AISI 52100 steel in WEDM by Design of Experiments.
                    </a> 
                    <em>
                        Interantional Journal of Engineering Research & Technology, 
                    </em>
                    Vol.05 (05), pp.234-239. <a href="https://www.ijert.org/view-pdf/15233/modelling-of-surface-roughness-for-aisi-52100-steel-in-wedm-by-design-of-experiments" target="_blank">
                    doi: http://dx.doi.org/10.17577/IJERTV5IS050305 </a>
                </p>
            </li>
        </ol>
    </article>
</section>